@tailwind base;
@tailwind components;
@tailwind utilities;

@import "abstracts/index.scss";
@import "base/index.scss";
@import "components/index.scss";
@import "pages/index.scss";

.navbar {
  @apply w-full flex items-center fixed top-0 z-50 h-14 text-2xl;
  font-family: "Rajdhani", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  background: rgba(17, 17, 17, 0.8);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.tabs {
  @apply p-8 space-x-8 p-0;
  @media (max-width: 530px) {
    @apply w-full flex flex-col items-center justify-between items-start gap-8 p-8 space-x-0;
    position: absolute;
    top: 55px;
    right: 0;
    transition: 0.2s;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(17, 17, 17, 1);
  }
}

.tabs-open {
  @media (max-width: 768px) {
    opacity: 1;
    visibility: visible;
  }
}

.nav-link {
  list-style: none;
  display: inline;
  border-bottom: 2px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 8px;
  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.nav-link:hover {
  @media (min-width: 530px) {
    color: #f13f3f;
    cursor: pointer;
    border-bottom: 4px solid #f13f3f;
  }
}

.burger {
  width: 2rem;
  font-size: 2rem;
  @media (min-width: 530px) {
    display: none;
  }
}

.logo img {
  height: 33px;
  margin-right: 0.4rem;
}

.logo-text {
  font-size: 1.8rem;
  text-transform: none;
  color: #fff;
}

.marquee {
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

