.project {
  &__image-wrap {
    @apply bg-transparent border border-neutral-600 rounded-xl w-full;
    aspect-ratio: 482 / 352;
    overflow: hidden;
  }

  &__image {
    @apply object-cover w-full h-auto bg-transparent;
    height: 100%;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }
  &__title {
    font-weight: medium;
    flex-shrink: 0;
    font-size: 1.75rem;
    max-width: calc(100% - 150px);
  }
  &__tech {
    @apply text-xs font-normal text-primary-500;
  }
  &__link {
    opacity: 0.75;
    transition: 0.25s opacity;
    &:hover {
      opacity: 1;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background: var(--text);
    opacity: 0.3;
  }
}
