$font-path: "@/fonts/";

// ---------------------------------------------MONTSERRAT---------------------------------------------
// ----------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ThinItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-BlackItalic.ttf")
    format("truetype");
}

// ---------------------------------------------Rajdhani---------------------------------------------
// -------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Rajdhani";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Rajdhani/Rajdhani-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhani";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhani";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhani";
  font-weight: 600;
  font-style: normal;
  src: url("#{$font-path}/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Rajdhani";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
}